@blue-base: #81b3d2;
@blue-darker: #669ec0;
@blue-darkest: #5496bd;

@gray-light: #eeeeee;
@gray: #333333;

@mobile-widths-only: ~"(max-width: 767px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1280px)";

@retina: ~"(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
