.advantage {
  position: relative;
  padding-left: 50px;

  &--house::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-house.svg");
    width: 39px;
    height: 37px;
    background-size: 39px;
    top: -10px;
    left: 1px;
  }

  &--memento::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-gift.svg");
    width: 32px;
    height: 38px;
    background-size: 32px;
    top: -11px;
    left: 5px;
  }

  &--food::before {
    content: "";
    position: absolute;
    background-image: url("../img/icon-burger.svg");
    width: 40px;
    height: 35px;
    background-size: 40px;
    top: -6px;
    left: -2px;
  }
}

.advantage__title {
  margin: 0;
  margin-top: 25px;
  font-size: @title-fs-mobile;
  line-height: @title-lh;
  text-transform: uppercase;
}

.advantage__text {
  margin: 14px 0 28px;
  font-size: @text-fs-mobile;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
