.booking__title {
  text-align: center;
  padding: 0 20px;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.booking__text {
  text-align: center;
  padding: 0 20px;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  color: @gray;
}
