.button {
  display: block;
  text-align: center;
  width: 280px;
  padding: 10px 0 10px 0;
  margin: 20px 20px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: @blue-base;
  box-sizing: border-box;
  border: none;

  &:hover {
    background-color: @blue-darker;
    color: #ffffff;
  }
  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @blue-darkest;
  }
  &:disabled {
    background-color: #e5e5e5;
    color: #ffffff;
  }
}
