.checkbox {
  margin: 0;
  margin-bottom: 43px;

  @media @tablet-widths {
    order: 1;
    width: 260px;
    padding: 0;
    margin-bottom: 50px;
  }

  &:nth-child(2n) {
    @media @tablet-widths {
      order: 2;
    }
  }

  @media @desktop-widths {
    width: auto;
    margin-bottom: 0;
  }
}

.checkbox__input + .checkbox__label::before {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  top: 6px;
  left: 19px;
  width: 55px;
  height: 55px;
  background-color: @gray-light;
  border-radius: 10%;

  @media @tablet-widths {
    left: 31px;
  }

  @media @desktop-widths {
    left: 0;
  }
}

.checkbox__input:active + .checkbox__label::before {
  background-color: #d5d5d5;
}

.checkbox__input:checked + .checkbox__label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  top: 17px;
  top: 23px;
  width: 24px;
  height: 16px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;

  @media @tablet-widths {
    left: 48px;
  }

  @media @desktop-widths {
    left: 17px;
  }
}

.checkbox__input:active + .checkbox__label::after {
  opacity: 0.3;
}

.checkbox__label {
  margin: 0;
  margin-top: 11px;
  padding: 0 15px 0 79px;
  font-size: @label-fs;
  line-height: @label-lh;
  text-transform: none;
  font-weight: 700;

  @media @tablet-widths {
    padding-left: 109px;
    cursor: pointer;
  }

  @media @desktop-widths {
    padding: 20px 0 20px 81px;
    margin: 0;
  }
}
