.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 130px;
  margin: 40px auto 20px;

  @media @tablet-widths {
    margin: 0;
  }

  @media @desktop-widths {
    width: 400px;
    justify-content: flex-end;
  }
}

.copyright__text {
  font-size: @subtitle-fs;
  line-height: 26px;
  text-transform: uppercase;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  font-size: 0;

  @media @desktop-widths {
    margin-right: 44px;
    margin-left: 12px;
  }
}

.copyright__svg {
  fill: #000000;

  &:hover {
    fill: @blue-base;
  }

  &:active {
    fill: #b2b2b2;
  }
}
