.copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 151px;
  margin: 34px auto 20px;
  box-sizing: border-box;

  @media @tablet-widths {
    margin: 0;
  }

  @media @desktop-widths {
    width: 400px;
    justify-content: flex-end;
  }
}

.copyright__text {
  font-size: @subtitle-fs;
  line-height: 26px;
  margin-left: 8px;
  text-transform: uppercase;

  @media @tablet-widths {
    margin-left: 12px;
  }

  @media @desktop-widths {
    margin-left: 0;
  }
}

.copyright__logo {
  width: 40px;
  height: 45px;
  font-size: 0;

  @media @desktop-widths {
    margin-right: 37px;
    margin-left: 12px;
  }
}

.copyright__svg {
  fill: #000000;

  &:hover {
    fill: @blue-base;
  }

  &:active {
    fill: #b2b2b2;
  }
}
