.form {
  .container();
  margin-bottom: 36px;

  @media @tablet-widths {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 54px 60px 0;
    box-sizing: border-box;
    overflow: auto;
  }

  @media @desktop-widths {
    padding: 39px 120px 0;
  }
}

.form__fieldset {
  border: none;
  margin: 0 0 6px;
  padding: 0;

  &--name {
    @media @tablet-widths {
      order: 2;
      width: 324px;
    }

    @media @desktop-widths {
      width: 480px;
    }
  }

  &--contact {
    margin: 0 0 27px;

    @media @tablet-widths {
      order: 3;
      width: 648px;
      margin: 8px 0 23px;
      box-sizing: border-box;
      position: relative;
    }

    @media @desktop-widths {
      width: 960px;
      margin-top: 37px;
    }
  }

  &--radio {
    margin: 0;
    margin-bottom: 42px;

    @media @tablet-widths {
      order: 1;
      width: 324px;
      border-right: 1px solid @gray-light;
      box-sizing: border-box;
    }

    @media @desktop-widths {
      width: 480px;
      margin-bottom: 25px;
    }
  }

  &--checkbox {
    margin: 0;

    @media @tablet-widths {
      order: 4;
      width: 648px;
      padding-top: 16px;
      position: relative;
    }

    @media @desktop-widths {
      width: 960px;
      padding-top: 31px;
    }
  }
}

.form__legend {
  display: block;
  text-align: center;
  width: 320px;
  margin: 0;
  padding: 17px 0 20px;
  font-size: @label-fs;
  line-height: @label-lh;
  text-transform: uppercase;
  font-weight: 700;
  border-top: 1px solid #e5e5e5;

  @media @tablet-widths {
    padding: 0;
    text-align: center;
    font-size: @title-fs-desktop;
    border: none;
  }

  &--radio {
    @media @tablet-widths {
      text-align: left;
    }

    @media @desktop-widths {
      padding-left: 79px;
    }
  }

  &--name {
    @media @tablet-widths {
      text-align: left;
      padding-left: 57px;
    }

    @media @desktop-widths {
      padding-left: 79px;
    }
  }

  &--contact {
    padding-bottom: 9px;

    @media @tablet-widths {
      width: auto;
      position: relative;
      margin: 0 auto;
      padding: 0 127px;

      &::before {
        .line();
        top: 15px;
        left: 0;
      }

      &::after {
        .line();
        top: 15px;
        right: 0;
      }
    }
  }

  &--checkbox {
    padding-top: 18px;

    @media @tablet-widths {
      width: auto;
      position: relative;
      margin: 0 auto;
      padding: 0 127px;

      &::before {
        .line();
        top: 15px;
        left: 0;
      }

      &::after {
        .line();
        top: 15px;
        right: 0;
      }
    }

    @media @desktop-widths {
      padding: 0 280px;
    }
  }

  &--textarea {
    @media @tablet-widths {
      width: auto;
    }
  }
}

.form__input-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 280px;
  padding: 0 20px;
  margin: 0 0 20px;
  position: relative;

  @media @tablet-widths {
    flex-direction: row;
    width: auto;
  }


  &--name {
    @media @tablet-widths {
      width: auto;
      padding: 0 0 0 58px;
      box-sizing: border-box;
    }

    @media @desktop-widths {
      padding-left: 79px;
    }
  }

  &--contact {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0;

    @media @tablet-widths {
      padding: 0;
      margin: 7px 0 13px;
    }

    @media @desktop-widths {
      flex-direction: row;
      align-items: center;
      padding-right: 58px;
      margin: 0;
    }
  }
}

.form__label {
  padding-right: 15px;
  font-size: @subtitle-fs;
  line-height: @label-lh;
  text-transform: uppercase;
  color: @gray;

  &--contact {
    margin: 12px 0 0 0;
    padding: 0 23px;

    @media @tablet-widths {
      margin-top: 9px;
    }

    @media @desktop-widths {
      margin: 0;
      padding: 0;
      padding-right: 16px;
      margin-top: 10px;
    }
  }

  &--invisible {
    @media @desktop-widths {
      display: none;
    }
  }
}

.form__entry-field {
  min-width: 1px;
  min-height: 58px;
  padding: 10px 20px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: @gray-light;
  border: none;
  box-sizing: border-box;

  &:hover {
    @media @tablet-widths {
      background-color: #e5e5e5;
    }
  }

  &:focus {
    @media @tablet-widths {
      background-color: #ffffff;
      outline: none;
      box-shadow: inset 0 0 0 4px rgb(229, 229, 229);
    }
  }

  @media @tablet-widths {
    padding: 10px 21px;
  }

  @media @desktop-widths {
    width: 100%;
  }

  &--contact {
    width: 222px;

    @media @tablet-widths {
      width: 590px;
    }

    @media @desktop-widths {
      width: 257px;
    }
  }

  &--name {
    @media @tablet-widths {
      padding-top: 57px;
    }
  }
}

.form__input-wrapper {
  @media @tablet-widths {
    padding-top: 57px;
  }

  @media @desktop-widths {
    padding-top: 59px;
  }

  &--checkbox {
    @media @tablet-widths {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 520px;
      margin: 0 auto;
      padding-top: 45px;
    }

    @media @desktop-widths {
      width: 960px;
      justify-content: space-between;
      padding-top: 36px;
    }
  }

  &--contact {
    @media @tablet-widths {
      padding-top: 8px;
    }

    @media @desktop-widths {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 64px;
    }
  }

  &--radio {
    @media @desktop-widths {
      padding-top: 52px;
    }
  }

  &--name {
    margin-bottom: 26px;
  }
}

.form__input {
  display: none;
}

.form__textarea {
  width: 280px;
  min-height: 155px;
  margin: 0 20px 45px;
  padding: 12px 20px;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: none;
  font-weight: 700;
  box-sizing: border-box;
  background-color: @gray-light;
  border: none;
  resize: vertical;

  &:hover {
    @media @tablet-widths {
      background-color: #e5e5e5;
    }
  }

  &:focus {
    @media @tablet-widths {
      background-color: #ffffff;
      outline: none;
      box-shadow: inset 0 0 0 4px rgb(229, 229, 229);
    }
  }

  @media @tablet-widths {
    width: 648px;
    min-height: 160px;
    margin: 0;
    margin-top: 56px;
    padding: 16px 20px;
  }

  @media @desktop-widths {
    width: 100%;
  }
}

.form__wrapper {
  &--textarea {
    @media @tablet-widths {
      order: 5;
      width: 648px;
      margin-top: 36px;
      position: relative;

      &::after {
        .line();
        top: 15px;
        right: 0;
      }

      &::before {
        .line();
        top: 15px;
        left: 0;
      }
    }

    @media @desktop-widths {
      width: 100%;
      margin-top: 62px;
    }
  }

  &--button {
    @media @tablet-widths {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      order: 6;
      width: 648px;
      margin-top: 50px;
      margin-bottom: 61px;
    }

    @media @desktop-widths {
      width: 100%;
      margin-top: 51px;
      margin-bottom: 66px;
    }
  }
}

.form__button {
  width: 280px;
  font-family: "PT Sans", "Arial", sans-serif;

  @media @tablet-widths {
    width: 324px;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0;
  }

  @media @desktop-widths {
    width: 480px;
  }
}

.form__notice {
  display: none;

  @media @tablet-widths {
    display: block;
    text-align: right;
    width: 196px;
    text-transform: uppercase;
  }

  @media @desktop-widths {
    margin-top: 18px;
  }
}
