.main-nav {
  position: relative;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style: none;

  @media @tablet-widths {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 768px;
    min-height: 56px;
  }

  @media @desktop-widths {
    width: 1200px;
    justify-content: space-around;
    align-items: center;
  }
}

.main-nav__item {
  display: flex;
  padding: 7px 0;
  list-style: none;
  background-color: @blue-base;
  border-top: 1px solid #9ac2db;
  border-bottom: 1px solid #678fa8;

  @media @tablet-widths {
    background-color: #ffffff;
    border: none;
    align-items: center;
    padding: 0;
  }

  &:nth-of-type(4n+2) {
    @media @tablet-widths {
      margin-right: 156px;
    }

    @media @desktop-widths {
      margin-right: 245px;
    }
  }

  &:last-of-type {
    @media @tablet-widths {
      box-shadow: none;
    }
  }

  &:first-of-type {
    padding-top: 7px;
    border-top: none;

    @media @tablet-widths {
      padding: 0;
    }
  }

  &:last-of-type {
    border-bottom: none;
    box-shadow: inset 0 -7px 13px -9px #000000;

    @media @tablet-widths {
      box-shadow: none;
    }
  }
}

.main-nav__link {
  margin: 0 auto;
  font-size: 18px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;

  &:hover {
    @media @tablet-widths {
      color: #81b3d2;
    }
  }
  &:active {
    @media @tablet-widths {
      color: #cacaca;
    }
  }

  @media @tablet-widths {
    width: 153px;
    text-align: center;
    padding: 0 5px 0 8px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    color: #000000;
    box-sizing: border-box;
  }
}

.main-nav__toggler {
  position: absolute;
  z-index: 2;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-color: @blue-base;
  cursor: pointer;
  border: none;
  background-image: url("../img/icon-cross.svg");

  @media @tablet-widths {
    display: none;
  }

  &--closed {
    top: 0;
    right: 0;
  }
}
