.map {
  width: 320px;
  height: 350px;
  margin-top: 46px;
  background: #f3f1ed url("../img/bg-map-mobile@1x.jpg");
  position: relative;

  @media @mobile-widths-only {
    @media @retina-dpi, @retina-dpx {
      background: #f3f1ed url("../img/bg-map-mobile@2x.jpg");
      background-size: auto 320px;
      background-repeat: no-repeat round;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 27px;
    height: 27px;
    top: 46%;
    left: 49%;
    background-image: url("../img/icon-map-marker.svg");
  }

  @media @tablet-widths {
    width: 768px;
    margin: 0 auto;
    background: #f3f1ed url("../img/bg-map-tablet@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;

    @media @retina-dpi, @retina-dpx {
      background: #f3f1ed url("../img/bg-map-tablet@2x.jpg");
      background-size: auto 768px;
      background-repeat: no-repeat round;
    }
  }

  @media @desktop-widths {
    width: 1200px;
    margin: 0 auto;
    background: #f3f1ed url("../img/bg-map-desktop@1x.jpg");

    @media @retina-dpi, @retina-dpx {
      background: #f3f1ed url("../img/bg-map-desktop@2x.jpg");
      background-size: auto 1200px;
      background-repeat: no-repeat round;
    }
  }
}
