.map {
  width: 320px;
  height: 350px;
  margin-top: 50px;
  background-image: url("../img/bg-map-mobile@1x.jpg");

  @media @tablet-widths {
    width: auto;
    margin-top: 38px;
    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center;
    background-repeat: no-repeat;
  }
}
