.modal {
  .container();
  display: block;
}

.modal__title {
  text-align: center;
  margin: 0;
  margin-top: 55px;
  padding: 0 55px;
  font-size: @title-fs-mobile;
  line-height: @title-lh;
  text-transform: uppercase;
  font-weight: 700;
}

.modal__text {
  text-align: center;
  padding: 0 55px;
  margin: 0;
  margin-top: 30px;
  font-size: @text-fs-mobile;
  line-height: 24px;
  text-transform: uppercase;
}

.modal__button {
  display: block;
  margin: 25px auto;

  &--ok {
    width: 180px;
  }
}
