.modal {
  .container();
  display: block;

  &--failure {
    @media @tablet-widths {
      width: 400px;
      padding: 50px 0;
      box-shadow: 0px 9px 28px -12px rgba(0, 0, 0, 0.75);
    }
  }

  &--success {
    @media @tablet-widths {
      width: 641px;
      padding-top: 53px;
      box-shadow: 0px 9px 28px -12px rgba(0, 0, 0, 0.75);
    }
  }
}

.modal__title {
  text-align: center;
  margin: 0;
  margin-top: 55px;
  padding: 0 55px;
  font-size: @title-fs-mobile;
  line-height: @title-lh;
  text-transform: uppercase;
  font-weight: 700;

  @media @tablet-widths {
    font-size: 30px;
    line-height: 40px;
    margin: 0;
  }

  &--failure {
    @media @tablet-widths {
      padding: 0 80px;
    }
  }
}

.modal__text {
  text-align: center;
  padding: 0 55px;
  margin: 0;
  margin-top: 30px;
  font-size: @text-fs-mobile;
  line-height: 24px;
  text-transform: uppercase;

  @media @tablet-widths {
    padding: 0 110px;
    margin-bottom: 30px;

    &--failure {
      @media @tablet-widths {
        padding: 0 50px;
      }
    }
  }
}

.modal__button {
  display: block;
  margin: 25px auto;

  &--ok {
    width: 180px;

    @media @tablet-widths {
      width: 272px;
    }
  }

  &--success {
    @media @tablet-widths {
      width: 458px;
      margin: 0 auto;
    }
  }
}

.modal__wrapper {
  @media @tablet-widths {
    height: 146px;
    padding: 44px 0 44px;
    box-sizing: border-box;
    background-color: @gray-light;
  }
}
