.page-content__block {
  .container();
}

.page-content__header {
  padding: 40px 20px 0;
}

.page-content__title {
  width: 260px;
  margin: 0 auto;
  text-align: center;
  font-size: @title-fs-mobile;
  line-height: @title-lh;
  text-transform: uppercase;
}

.page-content__text {
  width: 260px;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  font-size: @text-fs-mobile;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}
