.page-header {
  .container();

  @media @desktop-widths {
      width: 1200px;
      background-color: #ffffff;
  }
}

.page-header__logo-wrapper {
  min-height: 56px;
  position: relative;

  @media @tablet-widths {
    min-height: auto;
  }
}

.page-header__picture-wrapper {
  position: relative;
  width: 320px;
  height: 388px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: top;

  @media @mobile-widths-only {
    @media @retina {
        background: url("../img/bg-back-mobile@2x.jpg");
        background-size: auto 320px;
        background-repeat: no-repeat round;
    }
  }

  @media @tablet-widths {
    width: 768px;
    height: 518px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;

    @media @retina {
        background: url("../img/bg-back-tablet@2x.jpg");
        background-size: auto 768px;
        background-repeat: no-repeat round;
    }
  }

  @media @desktop-widths {
    width: 1200px;
    background: url("../img/bg-back-desktop@1x.jpg") no-repeat;

    @media @retina {
        background: url("../img/bg-back-desktop@2x.jpg");
        background-size: auto 1200px;
        background-repeat: no-repeat round;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 320px;
    height: 57px;
    bottom: -30px;
    z-index: 2;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: round;

    @media @tablet-widths {
      width: 768px;
      height: 57px;
      bottom: -1px;
      background-image: url("../img/bg-intro-triangle-tablet.svg");
    }

    @media @desktop-widths {
      width: 1200px;
      background-image: url("../img/bg-intro-triangle-desktop.svg");
    }
  }

  &--inner {
    height: 159px;
    background-position: bottom;

    @media @mobile-widths-only {
      @media @retina {
          background: url("../img/bg-back-mobile@2x.jpg");
          background-size: auto 320px;
          background-repeat: no-repeat;
          background-position: bottom;
      }
    }

    @media @tablet-widths {
      height: 290px;

      @media @retina {
          background: url("../img/bg-back-tablet@2x.jpg");
          background-size: auto 768px;
          background-repeat: no-repeat;
          background-position: bottom;
      }
    }

    @media @desktop-widths {
      height: 301;

      @media @retina {
          background: url("../img/bg-back-desktop@2x.jpg");
          background-size: auto 1200px;
          background-repeat: no-repeat;
          background-position: bottom;
      }
    }
  }
}
