.page-header {
  .container();
}

.page-header__logo-wrapper {
  min-height: 56px;
  position: relative;

  @media @tablet-widths {
    min-height: auto;
  }
}

.page-header__picture-wrapper {
  position: relative;
  width: 320px;
  height: 388px;
  background: url("../img/bg-back-mobile@1x.jpg") no-repeat;
  background-position: top;

  @media @tablet-widths {
    width: 768px;
    height: 518px;
    background: url("../img/bg-back-tablet@1x.jpg") no-repeat;
  }

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/bg-intro-triangle-mobile.svg");
    background-repeat: round;
    z-index: 2;
    width: 320px;
    height: 57px;
    bottom: -30px;

    @media @tablet-widths {
      background-image: url("../img/bg-intro-triangle-tablet.svg");
      width: 768px;
      height: 57px;
      bottom: -1px;
    }
  }

  &--inner {
    height: 159px;
    background-position: bottom;

    @media @tablet-widths {
      height: 290px;
    }
  }
}
