.photo {
  padding: 21px 20px 16px;
  border-top: 1px solid @gray-light;
  border-bottom: 1px solid @gray-light;

  @media @tablet-widths {
    width: 324px;
    padding: 0;
    border: none;
  }

  &--full {
    @media @tablet-widths {
      width: 648px;
      margin: 52px auto 0;
      padding: 0;
    }
  }
}

.photo__link {
  display: block;
}

.photo__description {
  @media @tablet-widths {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    background-color: @gray-light;
  }
}

.photo__info {
  @media @tablet-widths {
    padding-left: 19px;
  }
}

.photo__title {
  margin: 0;
  margin-top: 7px;
  font-size: @subtitle-fs;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;

  @media @tablet-widths {
    margin: 0;
  }
}

.photo__author {
  margin: 0;
  font-size: @subtitle-fs;
  line-height: 24px;
}

.photo__like {
  display: block;
  position: relative;
  margin-top: 8px;
  padding-left: 37px;
  font-size: @subtitle-fs;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;

  @media @tablet-widths {
    padding-right: 21px;
    margin: 0;
  }

  &::before {
    content: "";
    position: absolute;
    width: 23px;
    height: 21px;
    background-image: url("../img/icon-like.svg");
    background-repeat: no-repeat;
    top: 0;
    left: 0;

    @media @tablet-widths {
      left: 6px;
    }
  }
}

.photo__img {
  @media @tablet-widths {
    display: block;
    width: 324px;
    height: 268px;
  }
  &--full {
    @media @tablet-widths {
      width: 648px;
      height: 400px;
    }
  }
}
