.radio {
  margin: 0;
  margin-bottom: 25px;

  @media @tablet-widths {
    margin-bottom: 34px;
  }

  @media @desktop-widths {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.radio__input + .radio__label::before {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 20px;
  width: 55px;
  height: 55px;
  background-color: @gray-light;
  border-radius: 50%;

  @media @tablet-widths {
    left: 2px;
  }

  @media @desktop-widths {
    left: 4px;
  }
}

.radio__input + .radio__label:hover::before {
  @media @tablet-widths {
    background-color: #e5e5e5;
  }
}

.radio__input + .radio__label:active::before {
    background-color: #d5d5d5;
}

.radio__input:checked + .radio__label::after {
  content: "";
  display: block;
  position: absolute;
  cursor: pointer;
  top: 21px;
  left: 12%;
  width: 22px;
  height: 22px;
  background-color: #000000;
  border-radius: 50%;

  @media @tablet-widths {
    left: 6%;
  }

  @media @desktop-widths {
    left: 21px;
  }
}

.radio__input:checked + .radio__label:active::after {
  @media @tablet-widths {
    background-color: #a4a4a4;
  }
}

.radio__label {
  margin: 0;
  margin-top: 18px;
  padding: 0 15px 0 79px;
  font-size: @label-fs;
  line-height: @label-lh;
  text-transform: none;
  font-weight: 700;

  @media @tablet-widths {
    padding-left: 56px;
    cursor: pointer;
  }
}
